<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgop3oapdSXQw_hCNzJwsKDgdyhFK0uUo</string>
	<key>GCM_SENDER_ID</key>
	<string>197610759680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jph.oxfordenglish</string>
	<key>PROJECT_ID</key>
	<string>jph-learn-korean</string>
	<key>STORAGE_BUCKET</key>
	<string>jph-learn-korean.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197610759680:ios:74f2d489c2649067319ae5</string>
</dict>
</plist>
